<div class="container">
  <div class="row">
    <alert></alert>
  </div>
  <div class="row">
    
    <div class="col-md-4 col-sm-6">
      <h2> Profile </h2>
      <div class="text-center">
        <image-upload [max]="1" name = "myfile" [url]="'http://localhost:8000/letdoapi/photoupload'" [extensions]="['jpg','png','gif']" [buttonCaption]="'New'" [dropBoxMessage]=null (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
      </div>
      <div class="card text-center mt-2">
        <div class="card-block">
          <form #creditform="ngForm">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Name</label>
              <div class="col-10">
                <input class="form-control" required type="text" id="example-text-input" name="fullname" [(ngModel)]="user.username">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-2 col-form-label">Email</label>
              <div class="col-10">
                <input class="form-control" required email type="email" id="example-email-input" name="email" [(ngModel)]="user.email">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">Pass</label>
              <div class="col-10">
                <input class="form-control" type="search" required id="example-search-input" name="password" [(ngModel)]="user.password">
              </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!creditform.valid" (click)="onSaveCredit()">Save</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <h2>Content </h2>
      <ckeditor [(ngModel)]="content" debounce="500">
        <p>Hello <strong>world</strong></p>
      </ckeditor>
      <div class="row justify-content-center mt-2">
        <button type="button" class="btn btn-primary" (click)="onSaveContent()">Save</button>
      </div>
    </div>
  </div>
</div>