body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}
nav.header ul li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
nav.header {
  background-color: #111;
  padding: 0;
  width: 100%;
  display: table;
}
.push_left{
    float: left;
}
.push_right{
    float: right;
}
nav.header ul li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}