<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card text-center">
        <img src="../assets/images/default.jpg" class="rounded" width="100%" alt="...">
        <div class="card-block">
          <h4 class="card-title">Name: White Snow</h4>
          <p class="card-text">Web developer</p>
          <p class="card-text">Information technology</p>
          <p class="card-text">Node.js Angularjs</p>
          <p class="card-text">rgb92911.03@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>